.background{
    height: 10vh;
    background-size: cover;

}
.padding{
    &__2{
        padding: 2rem;
    }
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.items-center{
    align-items: center;
}
.border{
    border: 1px solid rgb(204, 201, 201);
    padding: 1rem;
    border-radius: 0.625rem;
}
.create{
    &__appointment{
        display: flex;
        align-items: center;
        &:hover{
            transform: scale(1.01);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
    }
}
.grid{
    display: grid;
    &-col{
        &-2{
            grid-template-columns: 2;
        }
    }
}
.text{
    &__hide{
        &--mbl{
            @media only screen and(max-width:900px){
                display: none;
            }
        }
    }
}