<div>
    <div class="flex items-center justify-around">
   
    <div class="background padding__2" >
        <mat-form-field appearance="outline">
            <mat-label>Months</mat-label>
            <mat-select [value]="today" (selectionChange)="changeMonth($event.value)">
              <!-- <mat-option >None</mat-option> -->
              <mat-option *ngFor="let month of months" [value]="month.value">{{month.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <div>
        <div class="border" style="cursor:pointer">
            Create Appointment
        </div>
    </div>
    
</div>
<app-calender></app-calender>
</div>